@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/fonts/ProductSans-Light.ttf') format('woff2'),
        url('../assets/fonts/ProductSans-Light.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-container {
    z-index: 20000 !important;
}

.table-container {
    overflow-x: auto;
    /* Activa el desplazamiento horizontal */
    width: 100%;
    /* Asegúrate de que el contenedor use el 100% del ancho */
    position: relative;
    /* Para que el desplazamiento se mantenga en la parte inferior */
    background-color: red;
}

.table23 {
    height: 100vh;
    /* O cualquier altura que desees */
    display: flex;
    flex-direction: column;
}